body{
	font: 12pt HelveticaNeue;
}

:focus{
	outline: none;
}

/************* JQUERY AUTOCOMPLETE STYLES ********************/
.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
}
/************* BAR CHART STYLES ********************/
.bar.axis {
  display: none;
}

.selected{
	fill: #ff6d22 !important;
	background: #ff6d22;
}

.nycDashedLine{
	stroke: #aaaaaa;
}

.nycArrow{
	fill: #333333;
}
.nycText{
	font: 10pt HelveticaNeue;
}
.bucket_1{fill:#adcdec;}
.bucket_2{fill:#00a9e9;}
.bucket_3{fill:#1268b3;}
.bucket_4{fill:#013b82;}
.bucket_5{fill:#002e42;}


.bar.tooltip .background{
	fill: #fff;
	opacity: .8
}
.bar.tooltip .value{
	font: 14pt HelveticaNeue-Bold;
}
.bar.tooltip .name{
	font: 12pt HelveticaNeue-Bold;
}

/************* BOTTOM MENU STYLES ********************/
#bottomMenuContainer{
	float: left;
}

#bottomMenuContainer .title{
	font: 26pt HelveticaNeue-Bold;
}

.helpText{
	font-style: italic;
	font-weight: 200;
}

#bottomMenuContainer input{
  width: 60%;
  height: 17px;
  background: #f2f2f2;
  border: none;
  color: #cccccc;
}

#bottomMenuContainer a.ui-button{
  height: 27px;
  top: -2px;
  background: #f2f2f2;
  border: none;
  color: #cccccc;
  border-radius: 0px;
  background-image: url("../img/menu-arrow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 33%;
  border-left: 1px solid;
}

#bottomMenuContainer span{
	background-image: none;
}

/************* SCATTER PLOT STYLES ********************/
.plot.background{
	fill: #f2f2f2;
}

.scatter.title{
	font: 18pt HelveticaNeue-Bold;
}

.scatter.axis text{
	font: 12pt HelveticaNeue;
}

.scatter.axis.y path{
	display: none;
}

.scatter.axis.x line, .scatter.axis.x path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.scatter.axis.x .tick line{
	stroke: #f2f2f2;
}

.gridLine{
	stroke: #e8e8e8;
}

.scatter.dot{
	fill: white;
	stroke-width: 1.5pt;
}
.scatter.nyc{
	stroke: #1771b7;
}
.scatter.borough{
	stroke: #999999;
}
.scatter.text{
	stroke: none !important;
	font: 12pt HelveticaNeue-Bold;
}
.scatter.puma{
	stroke: #ff6d22;
}
.scatter.temp{
	stroke: #cccccc;
}


.scatter.connector{
	stroke-width: 3pt;
}
/************* MAP STYLES ********************/
svg.map{
	width: 70%;
}

.barContainer{
	width:30%;
	float: right;
}
/************* STYLES FROM ILLUSTRATOR ********************/

.Graphic_x0020_Style{fill:none;}
/*.bucket_x002D_1{fill:#ACCBEB;stroke:#FFFFFF;stroke-linecap:square;stroke-linejoin:bevel;}
.bucket_x002D_2{fill:#20A6DF;stroke:#FFFFFF;stroke-linecap:square;stroke-linejoin:bevel;}
.bucket_x002D_3{fill:#1369B2;stroke:#FFFFFF;stroke-linecap:square;stroke-linejoin:bevel;}
.bucket_x002D_4{fill:#20407E;stroke:#FFFFFF;stroke-linecap:square;stroke-linejoin:bevel;}
.bucket_x002D_5{fill:#002E41;stroke:#CCCCDC;stroke-width:0.26;stroke-linecap:square;stroke-linejoin:bevel;}

*/
.puma{stroke: #FFFFFF;}
.highlighted{fill:#F26E28;stroke:#FFFFFF;stroke-miterlimit:10;}

.st0{fill:#EFEEEE;}
.st1{fill:#1696D2;stroke:#FFFFFF;stroke-miterlimit:10;}
.st2{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:square;stroke-linejoin:bevel;}
.st3{fill:none;stroke:#000000;stroke-linecap:square;stroke-linejoin:bevel;}
.st4{fill:#FFFFFF;}
.st5{fill:#002E41;stroke:#FFFFFF;stroke-width:0.26;stroke-linecap:square;stroke-linejoin:bevel;}

.st6{font-family:'HelveticaNeue-Italic';}
.st7{font-size:12;}
.st8{fill:#F26E28;}
.st9{font-family:'HelveticaNeue-Bold';}
.st10{font-size:36;}
.st11{fill:none;}
.st12{font-size:18;}
.st13{fill:none;stroke:#F26E28;stroke-width:2;stroke-miterlimit:10;}
.st14{font-family:'HelveticaNeue';}
.st15{fill:#CCCBCB;}
.st16{letter-spacing:4;}
.st17{letter-spacing:2;}