body{
	font: 12pt HelveticaNeue;
	min-height: 100%;
	position: relative;
}

:focus{
	outline: none;
}
.header.row{
      border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/************* JQUERY AUTOCOMPLETE STYLES ********************/
.custom-combobox {
	position: relative;
	display: inline-block;
    margin-bottom:10px;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}

.custom-combobox input{
  padding: 0px;
  height: 32px;
  /* border: none; */
  border-radius: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  padding-left: 5px;
    background:none;
margin-top:5px;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
 background:none !important;  
    border: none !important;
    height:20px;
}

.custom-combobox-input {
	margin: 0;
/*	padding: 5px 10px !important;*/
}


/************* BAR CHART STYLES ********************/
.bar.axis {
  display: none;
}
.banked{
 float:left;
    margin-right: 20px;
}
.data.buttons{
 float:right;   
}
.map.row{
 clear: both;   
}
.top-combo{
 float:left;
    margin-top:4px;
/*    width:250px;*/
}
button{
 height: 45px;
    padding-left: 15px;
    padding-right:15px;
    border: 0;
    font-size: 12pt;
    font-family: HelveticaNeue, 'Arial',sans-serif;
    font-weight: 700;
}
button:hover{
    background-color: #ff6d22;
    color:#fff;
}
button.selected, .puma.selected, .bar.selected{
	fill: #ff6d22 !important;
	background: #ff6d22;
}

.footer{
 width: 110%;
    background-color:#000;
    color:#fff;
    position: relative;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom:20px;

}

.footer-btn{
 background-color: #fff;
    border: 1px solid #000;
}
.footer-btn:hover{
 background-color: #ff6d22;
    border: 1px solid #000;
}

.puma.clicked, .bar.clicked{
	fill: #ff6d22 !important;
	background: #ff6d22;
}

.key.selected{
	stroke: #ff6d22 !important;	
}

.nycDashedLine{
	stroke: #aaaaaa;
}

.nycArrow{
	fill: #333333;
}
.nycText{
	font: 10pt HelveticaNeue;
}
.bucket_1{fill:#adcdec;}
.bucket_2{fill:#00a9e9;}
.bucket_3{fill:#1268b3;}
.bucket_4{fill:#013b82;}
.bucket_5{fill:#002e42;}

.bar.tooltip{
	pointer-events: none;
}
.bar.tooltip .background{
	fill: #fff;
	opacity: .8
}
.bar.tooltip .value{
	font: 14pt HelveticaNeue-Bold;
}
.bar.tooltip .name{
	font: 12pt HelveticaNeue-Bold;
}

.deemphasized{
	fill: #cccccc !important;
}
/************* BOTTOM MENU STYLES ********************/
#bottomMenuContainer{
	float: left;
}

#bottomMenuContainer .title{
	font: 24pt HelveticaNeue-Bold;
    margin-bottom: 1px;
}

.helpText{
	font-style: italic;
	font-weight: 200;
}

#bottomMenuContainer input{
  width: 60%;
  height: 17px;
  background: #f2f2f2;
  border: none;
  color: #cccccc;
       padding: 5px 10px !important; 
}

#bottomMenuContainer a.ui-button{
  height: 27px;
  top: -2px;
  background: #f2f2f2;
  border: none;
  color: #cccccc;
  border-radius: 0px;
  background-image: url("../img/menu-arrow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 33%;
  border-left: 1px solid;
}

#bottomMenuContainer span{
	background-image: none;
}


/************* TOP MENU STYLES ********************/


.data.buttons .title{
	font: 24pt HelveticaNeue-Bold;
    margin-bottom: 10px;
}

.helpText{
	font-style: italic;
	font-weight: 200;
}

.data.buttons input{
/*  width: 60%;*/
  height: 17px;
  background: #ffffff;
  border: none;
  color: #000000;
  padding: 5px 10px !important; 
}

.data.buttons a.ui-button{
  height: 27px;
  top: -2px;
  background: #ffffff;
  border: none;
  color: #cccccc;
  border-radius: 0px;
  background-image: url("../img/menu-arrow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 33%;
  border-left: 1px solid;
}

.data.buttons span{
	background-image: none;
}





/************* SCATTER PLOT STYLES ********************/
.plot.background{
	fill: #f2f2f2;
}

.scatter.title{
	font: 12pt HelveticaNeue-Bold;
}

.scatter.axis text{
	font: 10pt HelveticaNeue;
}

.scatter.axis.y path{
	display: none;
}

.scatter.axis.x line, .scatter.axis.x path {
    stroke: black;
    fill: none;
}

.scatter.axis.x .tick line{
	stroke: #f2f2f2;
}

.gridLine{
	stroke: #e8e8e8;
}

.scatter.dot{
	fill: white;
	stroke-width: 1.5pt;
}
.scatter.nyc{
	stroke: #1771b7;
}
.scatter.borough{
	stroke: #999999;
}
.scatter.text{
	stroke: none !important;
	font: 12pt HelveticaNeue-Bold;
}
.scatter.puma{
	stroke: #ff6d22;
}
.scatter.temp{
	stroke: #cccccc;
}
.scatter.connector{
	stroke-width: 3pt;
}
.parallelCoordsLine{
	stroke: #999;
}

/*Boroughs*/
.temp.The_Bronx{ stroke: #cccccc;}
.temp.Manhattan{ stroke: #999999;}
.temp.Staten_Island{ stroke: #666666;}
.temp.Brooklyn{ stroke: #333333;}
.temp.Queens{ stroke: #000000;}

/*Tooltip*/
.scatter.tooltip{
	background: rgba(255,255,255,.85);
	position: fixed;
	pointer-events: none;
    -webkit-filter: drop-shadow(4px 4px 6px #ccc);
    -moz-filter: drop-shadow(4px 4px 6px #ccc);
    filter: drop-shadow(4px 4px 6px #ccc);
}
/*phone*/
.mobileScatter{
	margin-bottom: 5px;
}

.scatter.tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: rgba(255,255,255,.85);
	border-width: 10px;
	margin-left: -10px;
}

.tooltip.text{
	margin: 10px 0px 0px 10px;
	display: inline-block;
}
.tooltip.text.emphasis{
	font: 12pt HelveticaNeue-Bold;
}

/************* MAP STYLES ********************/
svg.map{
	width: 70%;
}

.barContainer{
	width:30%;
	float: right;
}

.map.borough.name{
	fill: #ffffff;
	font: 10pt HelveticaNeue-Bold;
	letter-spacing: 2pt;
}
.shadow{
	fill: #000000 !important;
}
.map.state.name{
	fill: #cccccc;
	font: 10pt HelveticaNeue;
	letter-spacing: 3pt;
}
/************* MAP LEGEND STYLES ********************/
.legend.title{
	font: 12pt HelveticaNeue-Bold;
}
.legend.label{
	font: 9pt HelveticaNeue;
}
.legend.key{
	stroke: #ffffff;
	stroke-width: 2px;
	pointer-events: visible !important;
}
.legend.value{
	font: 20pt HelveticaNeue-Bold;
	stroke: none;
}
.legend.nyc.value{
	fill: #000000;
}
.legend.puma.value{
	fill: #ff6d22;
}
.legend.more{
	font: 9pt HelveticaNeue-Italic;
	font-style: italic;
	pointer-events: visible !important;
}
/************* STYLES FROM ILLUSTRATOR ********************/

.Graphic_x0020_Style{fill:none;}
/*.bucket_x002D_1{fill:#ACCBEB;stroke:#FFFFFF;stroke-linecap:square;stroke-linejoin:bevel;}
.bucket_x002D_2{fill:#20A6DF;stroke:#FFFFFF;stroke-linecap:square;stroke-linejoin:bevel;}
.bucket_x002D_3{fill:#1369B2;stroke:#FFFFFF;stroke-linecap:square;stroke-linejoin:bevel;}
.bucket_x002D_4{fill:#20407E;stroke:#FFFFFF;stroke-linecap:square;stroke-linejoin:bevel;}
.bucket_x002D_5{fill:#002E41;stroke:#CCCCDC;stroke-width:0.26;stroke-linecap:square;stroke-linejoin:bevel;}

*/
.puma{stroke: #FFFFFF;}
.highlighted{fill:#F26E28;stroke:#FFFFFF;stroke-miterlimit:10;}

.st0{fill:#EFEEEE;}
.st1{fill:#1696D2;stroke:#FFFFFF;stroke-miterlimit:10;}
.st2{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:square;stroke-linejoin:bevel;}
.st3{fill:none;stroke:#000000;stroke-linecap:square;stroke-linejoin:bevel;}
.st4{fill:#FFFFFF;}
.st5{fill:#002E41;stroke:#FFFFFF;stroke-width:0.26;stroke-linecap:square;stroke-linejoin:bevel;}

.st6{font-family:'HelveticaNeue-Italic';}
.st7{font-size:12;}
.st8{fill:#F26E28;}
.st9{font-family:'HelveticaNeue-Bold';}
.st10{font-size:36;}
.st11{fill:none;}
.st12{font-size:18;}
.st13{fill:none;stroke:#F26E28;stroke-width:2;stroke-miterlimit:10;}
.st14{font-family:'HelveticaNeue';}
.st15{fill:#CCCBCB;}
.st16{letter-spacing:4;}
.st17{letter-spacing:2;}